In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from functions import *

In [2]:
# load the data
df = GetData()
df.head()

,SourceFileId,TripEndTime,VehicleId,TripDistance,DriveFuel,DriveFuelEconomy,DistanceAvgLoadFactor,Drivetime,StopIdleTime,StopIdleFuel,...,AvgLoadFactor,HardBrakesPr1000miles,BrakesPr1000miles,TopGearMinusOneUsage,IdleFuelPercentage,EngineBrakePercentage,CruisePercentage,OverSpeedAPercentage,OverSpeedBPercentage,EngineFanPercentage
2,28424,8/19/2016,281,161448.1,28200.13,5.73,0.50,10727712,3976920,1034.50,...,0.45,0.371636,353.327168,0.056143,0.036684,0.111953,0.409951,0.013890,0.000617,0.073740
3,39301,2/5/2017,281,161448.1,28200.13,5.73,0.50,10727712,3976920,1034.50,...,0.45,0.371636,353.327168,0.056143,0.036684,0.111953,0.409951,0.013890,0.000617,0.073740
4,40235,5/23/2017,281,161448.1,28200.13,5.73,0.50,10727712,3976920,1034.50,...,0.45,0.371636,353.327168,0.056143,0.036684,0.111953,0.409951,0.013890,0.000617,0.073740
5,40616,9/13/2017,281,161448.3,28200.38,5.73,0.50,10727856,3976920,1034.50,...,0.45,0.371636,353.332925,0.056143,0.036684,0.111951,0.409945,0.013889,0.000617,0.073739
6,40694,11/6/2017,253,4572.5,774.00,5.91,0.51,286452,333288,34.25,...,0.45,0.656096,287.151449,0.303249,0.044251,0.476562,0.071635,0.255750,0.316451,1.188639

In [4]:
# get the adjusted DFE
df['dfe45'] = AdjustDFE(df)

In [5]:
km = KMeans(n_clusters=5)
X = df[['AvgLoadFactor', 'StopIdlePercent', 'DistanceAvgvehiclespeed','TopGearMinusOneUsage','HardBrakesPr1000miles','dfe45']]

In [6]:
clf = km.fit(X)

In [7]:
df['labels'] = clf.labels_

In [9]:
clusters = df[['VehicleId','labels']]

In [10]:
c = clusters.groupby(['VehicleId','labels']).size().reset_index()

In [11]:
c.rename(columns={0:'Counts'}, inplace=True)

In [12]:
c

    VehicleId  labels  Counts
0         247       0       4
1         247       1       8
2         251       0       4
3         251       3       2
4         252       0       5
5         252       2       2
6         252       4       6
7         253       0       2
8         253       1       8
9         254       0       6
10        255       0       2
11        255       3       3
12        256       0       3
13        256       3       2
14        257       0      15
15        258       0       3
16        259       0       1
17        259       1       2
18        259       3       2
19        260       1      16
20        261       0       9
21        262       0       5
22        262       1      10
23        264       0      12
24        264       1       2
25        264       3       1
26        267       0       7
27        267       1       6
28        268       0       1
29        268       1      12
..        ...     ...     ...
34        273       3       8
35        274       0       6
36        274       1       7
37        275       1       9
38        276       0       7
39        276       1       4
40        276       3       3
41        277       0       3
42        277       1      11
43        278       0       9
44        278       3       1
45        279       0       9
46        279       1       4
47        279       3       1
48        280       1      16
49        281       0       4
50        282       0       9
51        282       1       1
52        283       0       2
53        283       3      12
54        284       0       5
55        284       1       1
56        284       3       2
57        289       3       1
58        293       0       2
59        338       3       3
60        339       0       6
61        339       3       1
62        339       4       1
63        344       0       3

[64 rows x 3 columns]

In [13]:
c.sort_values('Counts', ascending=False).drop_duplicates('VehicleId')

    VehicleId  labels  Counts
19        260       1      16
48        280       1      16
14        257       0      15
29        268       1      12
53        283       3      12
23        264       0      12
42        277       1      11
22        262       1      10
43        278       0       9
37        275       1       9
50        282       0       9
20        261       0       9
45        279       0       9
31        272       1       8
34        273       3       8
1         247       1       8
8         253       1       8
38        276       0       7
36        274       1       7
26        267       0       7
60        339       0       6
9         254       0       6
6         252       4       6
54        284       0       5
49        281       0       4
2         251       0       4
63        344       0       3
11        255       3       3
59        338       3       3
15        258       0       3
12        256       0       3
58        293       0       2
17        259       1       2
57        289       3       1